@charset "UTF-8";

body {
    color: #000;
    font-family: "微软雅黑",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

html,body,div,h1,ul,li,select,p,iframe,input,textarea {
	margin: 0;
	padding: 0;
}

a:link,a:visited,a:hover,a:active {
	text-decoration: none;
	font-size: 14px;
	color: #1a5cc6;
}

a:hover {color: #000; text-decoration: none} 	/* 鼠标放在链接上时的颜色 */

li {
    list-style: outside none none;
}

.table {
	padding: 0;
	margin: 0;
	position: relative;
	margin: 0 auto;
}

.table tbody tr th {
	background: #044599 no-repeat;
	text-align: center;
	border-left: 1px solid #02397F;
	border-right: 1px solid #02397F;
	border-bottom: 1px solid #02397F;
	border-top: 1px solid #02397F;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	height: 37px;
}

.table tbody tr td {
	text-align: center;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	font-size: 15px;
	color: #909090;
	height: 37px;
}

.button {
    cursor: pointer;
    font-size: 12px;
    padding: 4px 10px;
}

.input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d9d9d6;
    border-radius: 2px;
    padding: 5px;
}

.textarea {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d9d9d6;
    border-radius: 2px;
    overflow-y: hidden;
    padding: 7px;
}