@CHARSET "UTF-8";
.btn-margin {
	margin-left:65px;
}
.rad-margin {
	margin-right:15px;
}
.min-win {
	width:50%;
}
.min-tit {
	left: 17%;
}
/* header start */
.nav .dropdown-toggle img {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 1px;
	margin-right: 3px;
}
/* header end */

/* Page start */
.pagination .page-bor a {
    color: #777;
}
.pagination > .page-bor > a, .pagination > .page-bor > span {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination .page-bor .current {
	background: #24221d none repeat scroll 0 0;
    color: #fff;
}
/* Page end */

/* Comment start */
#cover {
	width: 100%; 
	height: 100%; 
	position: fixed; 
	z-index: 1996; 
	top: 0px; 
	left: 0px; 
	display:none;
	overflow: hidden;
}
#cover .z-cover {
	height: 100%; 
	background: rgb(0, 0, 0) none repeat scroll 0% 0%; 
	opacity: 0.7;
}
#replay-box {
    z-index: 1997;
	display:none;
}
.un-weld {
	font-weight:bold;
}
/* Comment end */

/* Record start */
.big-avatar {
	paddint: 0 15px 0 15px;
}
.padd .avatar img {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-top: 5px;
    padding: 1px;
}
.chat-content img {
	border: 0px solid #fff !important;
	max-width:300px;
	max-height:150px;
}
.btn-record {
	margin-top: 10px;
}
.chats .by-me .chat-meta {
    font-size: 11px !important;
}
.chats .by-me .chat-content {
    font-size: 12px;
}
/* record end */

/* contact start */
.recent-meta {
    font-size: 11px !important;
}
.recent-ctn {
    font-size: 12px !important;
    padding: 3px 0 3px 0 !important;
}
/* contact end */
/* site start */
.referrer .table-striped .tab-cen i {
    font-size: 17px;
    text-align: center;
}
.referrer .table-striped .tab-cen {
    text-align: center;
}
.task .uni {
	margin-left:5px;
}
/* site end */
