/*
 * Blog post custom CSS style, and the processing of the original basis.
 * @author 	wangyongdong
 * @time	2015年8月12日18:22:21
 */
@CHARSET "UTF-8";
.btn-margin { margin-left:65px; }
.rad-margin { margin-right:15px; }
.search-btn { float:right; margin-top: -23px; position: relative; }
.ts { margin-top: -28px; }
.un-weld { font-weight:bold; }
.hide-menu { display:none; }
.red{ color: #ff0000; }

/* 弹出窗 start */
.win-min { width:400px; padding-top: 2px; }
.win-header { padding:0px !important; }
.win-header button { padding:3px 3px 0px 0px !important; }
.win-footer { border-top: 1px solid #ffffff; padding: 0 15px; }
/* 弹出窗 end */

/* header start */
.nav .dropdown-toggle img { background: #fff none repeat scroll 0 0; border: 1px solid #ccc; padding: 1px; margin-right: 3px; }
/* header end */

/* Page start */
.pagination .page-bor a { color: #777; }
.pagination > .page-bor > a, .pagination > .page-bor > span {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination .page-bor .current { background: #24221d none repeat scroll 0 0; color: #fff; }
/* Page end */

/* Record start */
.big-avatar { paddint: 0 25px 0 15px; }
.padd .avatar img { background: #fff none repeat scroll 0 0; border: 1px solid #ccc; margin-right: 10px; margin-top: 5px; padding: 1px; }
.chat-content img { border: 0px solid #fff !important; max-width:300px; max-height:150px; }
.btn-record { margin-top: 10px; }
.chats .by-me .chat-meta { font-size: 11px !important; }
.chats .by-me .chat-content { font-size: 12px; }
/* record end */

/* contact start */
.recent-meta { font-size: 11px !important; }
.recent-ctn { font-size: 12px !important; padding: 3px 0 3px 0 !important; }
/* contact end */

/* site start */
.referrer .table-striped .tab-cen i { font-size: 17px; text-align: center; }
.referrer .table-striped .tab-cen { text-align: center; }
.task .uni { margin-left:5px; }
/* site end */

.search { height: 26px; padding: 0px 20px 0px 5px; }
.min-size { display: inline; width: 20%; }
.acl { float:left; padding: 0 5px 0 0; }
.date-float { float:left; line-height: 35px; }
#datetimepicker1 { float:left; }
#datetimepicker3 { float:left; margin-right:10px; }
.form-pop { border-color:red; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e; box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e }

.login-warning { float:left; padding: 2px 0 2px 3px; color:#d43f3a; }
.form-ul { float:left; }
.form-ul li { list-style-type:none; padding:3px 15px 3px 5px; }
.form-ul span { font-size:16px; font-weight: bold; }
.avatar { float:left; }
.post-avatar { float:none !important; margin-left:130px;}
#file_upload { margin-top:20px; }

/* qqface */
.col-lg-9 .comment{width:680px; margin:20px auto; position:relative}
.col-lg-9 .comment h3{height:28px; line-height:28px}
.col-lg-9 .com_form{width:100%; position:relative}
.col-lg-9 .input{width:99%; height:60px; border:1px solid #ccc}
.col-lg-9 .com_form p{height:28px; line-height:28px; position:relative}
.col-lg-9 span.emotion{width:42px; height:20px; background:url(../../plugin/qqface/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
.col-lg-9 span.emotion:hover{background-position:2px -28px}
.col-lg-9 .qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.col-lg-9 .qqFace table td{padding:0px;}
.col-lg-9 .qqFace table td img{cursor:pointer;border:1px #fff solid;}
.col-lg-9 .qqFace table td img:hover{border:1px #0066cc solid;}
.col-lg-9 #show{width:680px; margin:20px auto}
/* qqface */

.s-select { margin-left:15px; }
.se-op { padding-left:15px;}
