@CHARSET "UTF-8";

h1.t_nav {
    border-bottom: 1px solid #f1f1f1;
    font-size: 12px;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
    margin: 0px auto;
    width: 850px;
}
h1.t_nav span {
    color: #999;
    float: right;
}
.t_title {
	background: #fff none repeat scroll 0 0;
    width: 100%;
	height:65px;
}
.bookmark time{
	padding-left:10px;
	padding-right:10px;
}
/* 表情css */
#facebox .comment{width:680px; margin:20px auto; position:relative; background:#fff; padding:20px 50px 50px; border:1px solid #DDD; border-radius:5px;}
#facebox .comment h3{height:28px; line-height:28px}
#facebox .com_form{width:100%; position:relative}
#facebox .input{width:99%; height:60px; border:1px solid #ccc}
#facebox .com_form p{height:28px; line-height:28px; position:relative; margin-top:10px;}
span.emotion{width:42px; height:20px; background:url(http://www.16code.com/cache/demos/user-say/img/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
span.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td {cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
/* 表情css */

/* 首页轮播图设定 start  */
#featured_slider {
	float: left;
	margin: 0px 0px;
	position: relative;
	border: 0px solid;
	width: 575px;
	height:266px;
	overflow:hidden;
}
#featured_slider ul, #featured_slider ul li {
	list-style: none !important;
	border: none !important;
	float: left;
	margin: 0px;
	width: 575px;
	height: 266px;
}
#featured_slider h2{
	position:absolute; bottom:0px; left:0px;
	width:575px;
	background-color:#000000;
	color:white;
	height:50px;
	line-height:47px;
	padding-left:10px;
}
#featured_slider a{
	color:#FFFFFF;
	font-weight:normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: -0.5px;
	width:575px;
}
#featured_slider .feat_prev {
	background: transparent url(../img/sprite.png) no-repeat;
	background-position: 0px 0px;
	width: 17px;
	z-index: 10;
	height: 16px;
	position: absolute;
	left: 20px;
	cursor: pointer;
	top: 30px;
	float: left;
}
#featured_slider .feat_prev:hover {
	background-position: 0px -16px;
}
#featured_slider .feat_next {
	background: transparent url(../img/sprite.png) no-repeat;
	background-position: -17px 0px;
	width: 17px;
	z-index: 10;
	height: 16px;
	position: absolute;
	left: 40px;
	top: 30px;
	cursor: pointer;
}
#featured_slider .feat_next:hover {
	background-position: -18px -16px;
}
.feat_link {
	float: right;
	position: relative;
	top: -5px;
}
.feat_link a {
	float: left;
	font-size: 20px;
	color: #CCC;
}
/* 首页轮播图设定 end  */

/* 首页个人资料 start */
.avatar {
    border-radius: 100%;
    height: 160px;
    margin: 10px auto;
    overflow: hidden;
    width: 160px;
}
.avatar a {
    background: rgba(0, 0, 0, 0) url("../img/photos.jpg") no-repeat scroll 0 0 / 160px 160px;
    display: block;
    padding-top: 100px;
    width: 160px;
}
.avatar a span {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 55px;
    line-height: 20px;
    margin-top: 63px;
    padding-top: 8px;
    text-align: center;
    transition: margin-top 0.2s ease-in-out 0s;
    width: 160px;
}
.avatar a:hover span {
    display: block;
    margin-top: 0;
}
/* 首页个人资料 end */
 
/* 首页友情链接 start */
#right .website {
    background: #f3f3f3 none repeat scroll 0 0;
    border-radius: 50%;
    margin: 10px 0;
    text-align: center;
}
#right .website li {
    height: 26px;
    line-height: 26px;
    text-shadow: 1px 1px 1px #fff;
}
/* 首页友情链接 end */
 
/* 首页关注 start */ 
.attention {
	padding-bottom: 25px;
    padding-top: 5px;
}
.widget .sina{
	background-image: url(../img/rss-icon.png);
	background-position: top;
	background-repeat: no-repeat;
}
.widget .sina:hover{
	background-image: url(../img/rss-icon.png);
	background-position: 0 -37px;
	background-repeat: no-repeat;
}
.widget .tencent{
	background-image: url(../img/facebook-icon.png);
	background-position: top;
	background-repeat: no-repeat;
}
.widget .tencent:hover{
	background-image: url(../img/facebook-icon.png);
	background-position: 0 -37px;
	background-repeat: no-repeat;
}
.widget .wechat{
	background-image: url(../img/twitter-icon.png);
	background-position: top;
	background-repeat: no-repeat;
}
.widget .wechat:hover{
	background-image: url(../img/twitter-icon.png);
	background-position: 0 -37px;
	background-repeat: no-repeat;
}
.widget .sina, .tencent, .wechat{
    display: block;
	float: left;
	margin-left: 25px;
    height: 37px;
    overflow: hidden;
    width: 37px;
	text-indent: -30000px;
}
/* 首页关注 end */ 

/* 文章信息 start */
.post {
	border-bottom: 1px solid #ededed;
	padding-bottom: 40px;
}
.meta-info {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    float: left;
    line-height: 12px;
    margin-right: 20px;
}
.author {
    background-position: 0 -66px;
    padding-left: 20px;
}
.comments {
    background-position: 0 -78px;
    padding-left: 20px;
}
.category {
	background-position: 0 -90px;
	padding-left: 20px;
}
.meta-pos {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	float:left;
	margin-top:8px;
}
.widget li span.num1, .ph_n li span.num2, .ph_n li span.num3 {
    background: #f16b17 none repeat scroll 0 0;
}
.widget li span {
    background: #404040 none repeat scroll 0 0;
    color: #fff;
    font-family: "微软雅黑";
    margin-right: 5px;
    padding: 0 5px;
}
/* comment */
.widget .c_comment li a {
    color: #888a13;
    height: 20px;
    width: 100%;
}
/* 文章信息 end */
/* 栏目导航 */
.rnav {
    margin: 10px 0px 20px 0px;
}
.rnav ul {
	margin-top:5px;
	margin-left: 1em;
}
.rnav li {
    display: inline-block;
    height: 40px;
    line-height: 38px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    width: 120px;
}
.rnav li a {
    border: 1px solid #ccc;
    color: #959494;
    display: block;
    transition: all 1s ease 0s;
}
.rnav li a:hover {
    background-position: 220px 2px;
    background-repeat: no-repeat;
    color: #888a13;
    text-decoration: none;
}
.rnav p {
    color: #959494;
    line-height: 17px;
    margin-bottom: 12px;
}
/* 栏目导航 */

/* 文章详情页 start */
#left {
    width: 620px;
}
.postauths {
	height:40px;
	margin-left:120px;
}
h3.posttitle {
	text-align: center;
	border-bottom: 0px;
}
.postcontent p {
    color: #525554;
    margin-bottom: 0px;
}
.keyfl {
    background: #f8f8f8 url("../img/6264.png") no-repeat scroll 10px center;
    border: 1px solid #f0f0f0;
    height: 30px;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
    padding-left: 35px;
}
.keyfl span {
    color: #888a13;
}
.keybq {
    background: #f8f8f8 url("../img/6167.png") no-repeat scroll 10px center;
    border: 1px solid #f0f0f0;
    height: 30px;
    line-height: 30px;
    margin: 0px 0px 20px 0px;
    padding-left: 35px;
}
.keybq span {
    color: #888a13;
}
.posttime {
    border-bottom: none;
    border-top: none;
}
.nextinfo {
	margin:5px 5px;
	line-height: 24px;
}
.nextinfo a, .otherlink li a {
    color: #756f71;
}
.otherlink h2 {
    background: rgba(0, 0, 0, 0) url("../img/5794.png") no-repeat scroll 10px center;
    border-bottom: 2px solid #888a13;;
    color: #888a13;;
    font-size: 12px;
    line-height: 40px;
    padding-left: 40px;
}
.otherlink ul {
    margin: 10px 0;
}
.otherlink li {
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 290px;
}
.nextinfo a, .otherlink li a {
    color: #756f71;
}
.vc-copyright {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f9f9f9 none repeat scroll 0 0;
    border-color: #888a13;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    margin: 1em 0;
    padding: 0.5em 0.7em;
}
.fenxiang .tit_jia {
	float:left;line-height:25px;margin-right:15px;
}
.fx_this {
	height:30px;
	margin: 20px 10px 15px 10px;
}
/* 文章详情页 end */

/* about me start */
.row {
    margin: 0 auto;
    max-width: 100%;
	text-align:center;
}
.twelve, .row .twelve {
    width: 100%;
}
.columns p {
	letter-spacing:2px;
	font-size: 14px;
}
.column, .columns {
    float: left;
    min-height: 1px;
    position: relative;
}
.modSectionHeader h2 {
    border-bottom: 1px solid #e9e9e9;
    color: #333333;
    font-size: 36px;
    font-style: italic;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0 0 13px;
}
.modSectionHeader p {
    background: white none repeat scroll 0 0;
    color: #999999;
    display: inline;
    font-size: 14px;
    letter-spacing: 0.2em;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: -13px;
}
/* about me end */

/* contact start */
.contacts-block {
    display: block;
    margin-bottom: 25px;
   /*  margin-top: 50px; */
    padding: 5px;
    position: relative;
}
.contacts-bg {
    background: rgba(0, 0, 0, 0) url("../img/bg-project.png") repeat scroll 0 0;
}
.contacts-bg-white {
    background-color: white;
    padding: 15px;
}
.contacts-block h3{
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 15px;
	font-weight: normal;
}
.contacts-block p {
    line-height: 18px;
    margin-bottom: 15px;
}
.contacts-block input[type="text"], input[type="email"], input[type="url"], textarea {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e6e5e5;
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 25px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-left: 5px;
    width: 301px;
}
.contacts-block input.last-item[type="text"], input.last-item[type="email"], input.last-item[type="url"], input.last-item[type="submit"], input.last-item[type="reset"] {
    margin-right: 0 !important;
}
.contacts-block textarea {
    height: 175px;
    padding-top: 5px;
    width: 550px;
}
.contacts-block input[type="submit"] {
    display: block;
    line-height: normal !important;
    vertical-align: middle;
}
.contacts-block input[type="button"], input[type="submit"], input[type="reset"] {
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    padding: 7px 3px 21px;
    width: 100px;
}
.contacts-block .submit {
    background-color: white;
    border: 1px solid #e6e5e5;
    cursor: pointer;
    transition: all 0.3s linear 0s;
	border-radius: 3px;
}
.contacts-block .submit:hover {
	background: #F4F4F4;
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#F4F4F4));
	background: -moz-linear-gradient(top,  #F4F4F4,  #F4F4F4);
}
.contacts-block input[type="submit"] + span {
    background: #bf252f url("../img/icons.png") no-repeat scroll -35px -2px;
    border: 1px solid #e6e5e5;
    bottom: 20px;
    display: block;
    height: 28px;
    left: 98px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s linear 0s;
    width: 28px;
}
input:invalid, textarea:invalid {
    border-radius: 1px;
    box-shadow: 0 0 5px #fff;
}
.clear {
    clear: both;
}
.white-form input.text,input.name,input.url,input.email,textarea.comment {
	background:#ffffff !important;
}
.white-form textarea.comment {
	height:100px;
	width:400px;
}
.face_ico {
   	border-top: 1px solid #e6e5e5;
    float: left;
    line-height: 21px;
    margin-top: -44px;
    padding: 3px;
    position: absolute;
    width: 402px;
}
.contacts-block .comment_button {
	float:left;
	width:620px;
}
/* contact end */

/* record start */
.moodlist {
    margin: auto;
    overflow: hidden;
    width: 100%;
	background:#fff;
}
.bloglist {
    background: rgba(0, 0, 0, 0) url("../img/r_title_bg.jpg") repeat-y scroll 740px 0;
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
}
.arrow_box {
    background: #f8f8f8 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(214, 214, 214, 0.7) inset;
    margin: 15px 0 15px 60px;
    padding: 10px 5px 2px 5px;
    position: relative;
    width: 630px;
}
.arrow_box p {
    line-height: 24px;
    padding: 0 10px 10px;
}
.arrow_box .cont img {
    float: none;
}
.arrow_box .img_pic {
	float: left;
    margin: 0 20px;
    width: 150px;
}
.arrow_box::before {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 0 0 20px 22px;
    content: "";
    height: 0;
    left: 650px;
    position: absolute;
    top: 23px;
    width: 0;
}
.arrow_box::after {
    background: #ccccce none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 690px;
    position: absolute;
    top: 16px;
    transition: all 0.5s ease 0s;
    width: 10px;
}
.arrow_box:hover::before {
    border-color: transparent transparent transparent #cecccd;
}
.arrow_box:hover::after {
    background: #888a13 none repeat scroll 0 0;
    border: 2px solid #fff;
}
.dateview {
    background: #888a13 none repeat scroll 0 0;
    border-radius: 0 40px;
    color: #fff;
    left: 710px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 125px;
}
.arrow_box:hover {
    background: #f4f2f2 none repeat scroll 0 0;
    color: #333;
    text-shadow: 1px 1px 1px #f7f7f7;
}
.margin-pag {
	margin-left:60px;
	border-top: 1px solid #fff;
}
.re_info p img {
	max-width:180px;
	max-height:200px;
}
/* record end */
.contacts-block .input_name,.input_email,.input_url {
	color:#FF0000;
	font-size:11px;
}
.contacts-block .input_content {
	float: right;
    margin-right: 30px;
	color:#FF0000;
	font-size:11px;
}
/* article comment start */
#left .re_reply {
	display:block;
	margin-top: 25px;
}
#comment_list {
	float:left;
	width: 100%;
}
#comment_list h3 {
	background: rgba(0, 0, 0, 0) url("../img/comments.png") no-repeat scroll 10px center;
	color:#888a13;
	font-size:16px;
	line-height: 40px;
	margin-bottom:5px;
	padding-left: 40px;
	border-bottom: 2px solid #888a13;
}
.com_tit {
	float: left;
    margin-bottom: 10px;
}
.min-comments {
    padding: 5px;
	margin-top: 5px;
	width:450px;
	float:left;
}
.i-like::before {
    background-image: url("../img/pl.png");
    background-position: -232px 0;
    content: "";
    display: inline-block;
    height: 16px;
    margin: 0 3px 0 0;
    vertical-align: -3px;
    width: 16px;
	word-wrap: break-word;
}
.i-like {
    padding-bottom: 5px;
    padding-top: 5px;
}
/* article comment end */

/* archive */
.year {
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid #888a13;
    font-size: 16px;
    margin: 10px -21px;
    padding: 0 20px;
}
.mon {
    color: #000;
    cursor: pointer;
    line-height: 30px;
    margin: 5px 0 5px 5px;
}
.archives ol,.archives ul {
    list-style: outside none none;
}
.archives .post_list {
    color: #999;
    margin: 0 0 10px;
}
.archives .post_list li {
    line-height: 30px;
    text-indent: 2em;
}
.entry-header h2 {
    background: #f8f8f8 none repeat scroll 0 0;
    border-left: 5px solid #888a13;
    font-size: 1.5rem;
    line-height: 40px;
    margin: 35px -5px 20px -25px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}
.archives-meta { font-size: 15px; }
.i-com { background-image: url("../img/pl.png"); background-position: -215px 0; content: ""; display: inline-block; height: 15px; width: 16px; margin-left:10px; }
.i-ico { background-image: url(../img/smallarrow.png); content: ""; display: inline-block; height: 12px; width: 11px; }
/* archive */

/* common start */
.skin_msg {
    margin: 20px auto 200px;
    width: 600px;
}
.skin_msg .part {
    margin-bottom: 10px;
    position: relative;
}
.skin_msg .part .rc-tp {
    background-position: -5px -270px;
}
.skin_msg .part .rc-tp {
    background-position: -5px 0;
    margin-bottom: -6px;
}
.skin_msg .part .rc-tp span {
    background-color: #ffe0bc;
    background-position: 0 -270px;
}
.skin_msg .part .rc-bt {
    background-position: -5px -275px;
    margin-top: -6px;
}
.skin_msg .part .rc-bt span {
    background-position: 0 -275px;
}
.skin_msg .part .rc-tp, .part .rc-bt {
    display: block;
    height: 6px;
    position: relative;
}
.skin_msg .part .rc-tp span, .part .rc-bt span {
    float: right;
    height: 6px;
    width: 6px;
}
.skin_msg .part .hd {
    background: #ffe0bc none repeat scroll 0 0;
    border-color: #fac78a;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    height: 28px;
}
.skin_msg .part .hd {
    padding-left: 10px;
}
.skin_msg .part .hd h3 {
    color: #3e3e3e;
	background: rgba(0, 0, 0, 0) url("../img/icon_Msg.png") no-repeat scroll 0 5px;
    padding-left: 22px;
	line-height: 28px;
	font-size: 14px;
    font-weight: bold;
}
.part .hd, .part .rc-tp, .part .rc-tp span, .part .rc-bt, .part .rc-bt span, .userLogin h4 {
    background: transparent url("../img/rc.png") no-repeat scroll 0 0;
}
.skin_msg .part .bd {
	border: 1px solid #fac78a;
	padding: 10px;
}
.skin_msg .msgBox {
    padding: 20px 20px 10px;
}
.skin_msg .msgCont {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 24px;
}
.skin_msg .msgLink {
    margin-top: 30px;
    text-align: right;
}
.skin_msg .msgLink a {
    color: #888a13;
    text-decoration: none;
}
#container .back_white {
    background-image: none;
}
/* common end */

/* 仿友言评论样式 */
.uyan_cmt_com {
	border-top: 1px solid #D7D7D7; padding: 15px 0;
}
.uyan_cmt_avatar {
	position: relative; float: left; border-radius: 6px 6px 6px 6px; width: 50px; height: 50px; margin-right: 10px;
}
.uyan_avatar_ab {
	cursor: pointer; text-decoration: none; white-space: inherit;
}
.uyan_cmt_avatar img {
	border: 0 none; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22); border-radius: 4px; width: 50px; height: 50px;
}
.uyan_cmt_avatar span {
	bottom: -4px; position: absolute; right: -5px;
}
.uyan_avatar_an {
	cursor: pointer; text-decoration: none; background: url('../img/semail.png') no-repeat scroll 0 0 transparent; background-position: 0 0; opacity: 1; display: block; float: left; height: 16px !important; line-height: 100px; opacity: 0.8; overflow: hidden; width: 16px !important;
}
.uyan_cmt_con {
	padding-left: 60px;
}
.uyan_con_tit {
	color: #303030; font-size: 13px; line-height: 18px; height: 20px;
}
.uyan_con_uname a {
	color: #888a13; cursor: pointer; float: left; text-decoration: none; padding-right: 6px;
}
.uyan_con_ufromname {
	color: #aaaaaa; float: left;
}
.uyan_cmt_txt {
	color: #303030; font-size: 13px; line-height: 18px; word-wrap: break-word; text-align: left;
}
.uyan_cmt_exp {
	padding: 5px 5px 0 0; line-height: 14px;
}
.uyan_exp_re {
	color: #999999; cursor: pointer; display: block; float: right; font-size: 11px; padding: 0 4px 0 0;
}
.uyan_exp_ding {
	color: #999999; cursor: pointer; display: block; float: right; font-size: 11px; padding: 0 10px 0 0;
}
.uyan_exp_date {
	color: #999999; float: left; font-size: 11px; padding: 0 10px 0 0;
}
.uyan_cmt_reply_60 {
	margin-left: 60px;
}
.uyan_cmt_reply_120 {
	margin-left: 120px;
}
#uyan_more_cmt {
	cursor: pointer; background: rgb(252, 252, 252) none repeat scroll 0px 0px; height: 28px; line-height: 28px; display: block; border: 1px solid rgb(220, 220, 220); margin-top: 15px; margin-bottom: 10px; text-align: center; border-radius: 3px; font-size: 13px; color: rgb(66, 66, 66); text-decoration: none;
}
#uyan_more_cmt:hover {
	background: rgb(248, 248, 248) none repeat scroll 0px 0px;
}
#uyan_more_cmt .img {
	padding-left: 4px; border: none; display: inline;
}
/* 输入框 */
.ds-replybox {
	clear: both;
    font-size: 12px;
    margin: 8px 0;
    padding: 0 0 0 60px;
    position: relative;
    width: 90%;
    z-index: 3;
}
.sm-box {
	width: 70%;
	margin-left: 60px;
}
.ds-replybox a {
    background-color: transparent;
    color: #777;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.15s linear 0s;
}
.ds-avatar {
    left: 0;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    float: left;
}
.ds-avatar img {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    display: block;
    height: 50px;
    max-width: none;
    width: 50px;
}
.ds-textarea-wrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff url("//static.duoshuo.com/images/bg_sprites.png") repeat-x scroll 0 -90px;
    border-color: #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    overflow: hidden;
    padding-right: 20px;
    position: relative;
}
.ds-rounded-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.ds-textarea-wrapper textarea {
    box-shadow: none;
    color: #999;
    height: 64px;
    margin: 0;
    overflow: auto;
    padding: 10px;
    resize: none;
    width: 100%;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.ds-hidden-text {
    left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    visibility: hidden;
    word-wrap: break-word;
}
.ds-hidden-text {
    border: medium none;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 20px;
}
.ds-post-toolbar {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    position: relative;
    width: 100%;
}
.ds-post-basic {
    border-color: #ccc;
    border-image: none;
    border-style: none solid none solid;
	border-width: 1px;
    height: 30px;
	padding: 0px;
	background: rgba(0, 0, 0, 0) url("//static.duoshuo.com/images/bg_sprites.png") repeat-x scroll 0 -60px;
    position: relative;
}
.ds-post-basic input[type="text"],.ds-post-basic input[type="email"],.ds-post-basic input[type="url"], textarea {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e6e5e5;
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-left: 5px;
    width: 35%;
	margin:2px;
}
.b_red {
	border: 1px solid #ff8888 !important;
	-webkit-box-shadow: 1px 1px 3px #ff8888;
	box-shadow: 1px 1px 3px #ff8888 !important;
}
.ds-post-basic .input_warn {
    color: #ff3333 !important;
}

.ds-post-basic span {
	margin-left:5px;
	color:#999;
	vertical-align:middle;
}
.ds-replybox .face_ico {
    border-top: 0px;
    float: none;
    line-height: 0px;
    margin-top: 5px;
    padding: 3px;
    position: relative;
    width: 0px;
}
.ds-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #ccc;
    border-image: none;
    border-style: none none solid solid;
    border-bottom-width: 1px medium 1px 1px;
}
.ds-post-options {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /* border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; */
    /* border-color: #ccc -moz-use-text-color #aaa #ccc; */
	border-color: #ccc;
    border-image: none;
    border-style: solid solid none solid;
    border-width: 1px;
    height: 30px;
    /* margin-right: 100px; */
    position: relative;
}
.ds-gradient-bg {
    background: rgba(0, 0, 0, 0) url("//static.duoshuo.com/images/bg_sprites.png") repeat-x scroll 0 -60px;
}
.ds-sync {
    color: #999;
    font-size: 12px;
    line-height: 30px;
    position: absolute;
    right: 5px;
}
.ds-post-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e6e6e6;
    background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
    background-repeat: no-repeat;
    border-bottom-right-radius: 3px;
    border-color: #ccc #ccc #aaa;
    border-image: none;
    border-style: solid;
	border-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
	border-bottom-right-radius: 3px;
    box-shadow: 0 0 1px #fff inset;
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    top: 0;
    transition: all 0.15s linear 0s;
    width: 100px;
}
.ds-post-button:hover {
	color:#333;
	background-position: 0 -15px;
}
.ds-replybox button {
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.ds-toolbar-buttons {
    left: 6px;
    position: absolute;
    top: 5px;
}
.ds-toolbar-button {
    background: transparent url("//static.duoshuo.com/images/sprites.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 19px;
    margin-right: 4px;
    opacity: 0.6;
    transition: opacity 0.15s linear 0s;
    vertical-align: middle;
    width: 19px !important;
}

/* 仿友言评论样式 */

